.card {
    width: 18rem;
    height: 24rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card.small {
    width: 13.5rem;
    height: 18rem;
}

.card.black {
    background-color: #000000;
    color: #ffffff;
}

.card .card-body {
    padding: 0.5rem;
}

.enabled {
    cursor: pointer;
}

.card-title, .card-title > textarea {
    width: 100%;
    height: 100%;
}

.card-title > textarea {
    border: none;
    overflow: hidden;
    resize: none;
}

.top {
    height: 15rem;
}

.edit-help {
    font-size: 0.8rem;
    vertical-align: super;
}
