<div class="card">
    <div class="card-body d-flex flex-column justify-content-start">
        <div class="top mb-auto">
            <h1 class="card-title">
                <span>A really long card title</span>
                <small><i class="fa fa-pencil float-right"></i></small>
            </h1>
        </div>
        <div class="bottom">
            <div>
                <span class="font-weight-bold">Pick:&nbsp;</span><span>1</span>
            </div>
            <div>
                <span class="font-weight-bold">Draw:&nbsp;</span><span>1</span>
                <span class="float-right">___</span>
            </div>
        </div>
    </div>
</div>
